body {
    display: flex; 

    flex-direction: column; /* Arranges elements in columns */
    justify-content: center; /* Centers items on the main axis*/
    align-items: center; /* Centers items on the perpendicular axis */

    width: 100%;
    text-align: center;
}